.restaurantsPage {
    background: linear-gradient(90deg, #8EFFFF 21%, #fff 100%);
    border: 20px solid rgba(249, 225, 255, 0.95);
    font-family: 'New Walt Disney Font', sans-serif;
    font-size: x-large;
}